
.container{
    display: grid;
    grid-template-columns: auto auto;   
    grid-template-rows: auto auto;     
    /* padding: 0; */
    /* height: 100vh; */
    /* width: 100%; */
}

.item1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 70%; */
    /* width: 70; */
}

.item2{
    background: rgb(247,248,249);
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    /* x axis  */
    justify-content: center;
    /* y axis  */
    align-items: center;
    /* for text  */
    text-align: center;
    /* height: 70%; */
}

.item3{
    background-color: #f05638;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    /* x axis  */
    justify-content: center;
    /* y axis  */
    align-items: center;
    /* for text  */
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fffbfb;
}

.item4{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width:fit-content ;
}
.item5{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.item6{
    background: rgb(143,118,188);
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.item7{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.item8{
    position: relative;
    background: rgb(147,182,183);
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
}

.item9{
    background: rgb(56,213,244);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.item10{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.item11{
    background-color: rgb(44,44,44);
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.cd-button{
    background-color: rgb(129,102,176);
    border: none;
    border-radius: 100px;
    width: 20em;
}

.x-button{
    background-color:rgb(53,207,237);
    border: none;
    border-radius: 100px;
    width: 15em;
    height: 13em;
}